.todoList__footer {
    background: #a6a7a3;
    padding: 20px;
}

.footer__button {
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #f9e5b6;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;

}
.footer__button-active {
    background-color: #05afff;
    box-shadow: 0 0 2px #05afff;
}

.footer__buttons:active {
    background-color: #edd8aa;
}

.footer__buttons:focus {
    outline: none;
}