.todoList__header {
    background-color: #cbcbcb;
}

.header__input {
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid gray;
}

.header__buttons {
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #f9e5b6;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__buttons:active {
    background-color: #edd8aa;
}

.header__buttons:focus {
    outline: none;
}